{% if categories %}
<div class="container bg-white">
    <nav id="menu" class="navbar">
        <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ home }}">Trang chủ</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản phẩm <span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% for category in categories %}
						{% if category.children %}
						<li class="dropdown-submenu">
							<a href="{{ category.href }}" class="dropdown-toggle test" data-toggle="dropdown">{{ category.name }} <span class="caret"></span></a>
							{% for children in category.children|batch(category.children|length/category.column|round(1, 'ceil')) %}
							<ul class="dropdown-menu">
								{% for child in children %}
								<li class="dropdown-submenu"><a href="{{ child.href }}">{{ child.name }}</a></li>
								{% endfor %}
							</ul>
							{% endfor %}
<!--							<a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> -->
						</li>
						<div class="divider"></div>
						{% else %}
						<li><a href="{{ category.href }}">{{ category.name }}</a></li>
						{% endif %}
						{% endfor %}
					</ul>
                </li>
                {# {% for category in categories %}
                {% if category.children %}
                <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
                    <div class="dropdown-menu">
                        <div class="dropdown-inner"> 
                            {% for children in category.children|batch(category.children|length/category.column|round(1, 'ceil')) %}
                            <ul class="list-unstyled">
                                {% for child in children %}
                                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
						</div>
                        <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> 
					</div>
                </li>
                {% else %}
                <li><a href="{{ category.href }}">{{ category.name }}</a></li>
                {% endif %}
                {% endfor %} #}
                <li><a href="{{ aboutus }}">Giới thiệu</a></li>
                <li><a href="{{ news }}">Tin tức</a></li>
                <li><a href="{{ contact }}">Liên hệ</a></li>
            </ul>
        </div>
    </nav>
</div>
{% endif %}
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>