<div class="bg-left product-hot">
	<h3>{{ title }}</h3>
	{% for product in products %}
	<div class="product-item">
		<div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
		<div class="product-name">
			<h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
		</div>
	</div>
	{% endfor %} 
</div>
